* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	touch-action: none;
	}
	input,
	button {
	-webkit-appearance: none;
	border: none;
	outline: none;
	}
	body {
	-webkit-text-size-adjust: 100%;
	font: 12px/1.5 -apple-system, Helvetica, sans-serif;
	}
	input {
	line-height: normal;
	}
	img {
	display: block;
	}
	a {
	text-decoration: none;
	}
	ul,
	ol {
	list-style: none;
	}
	table {
	border-collapse: collapse;
	}
	em,
	i {
	font-style: normal;
	}
	strong,
	b {
	font-weight: 400;
	}
	button{
		touch-action: none;
	}